.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}